body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(70deg, black, gray, black ); /*pera xd*/
  background-attachment: fixed;
}

header {
    background-image: url("/Img/rlv.png"); 
    position: relative;
    color: #fff;  
    overflow: hidden;
    padding: 10px;
    text-align: center;
    background-position-y: -30px;
    background-attachment: fixed;
    background-size: cover;
    height: 210px;
    position: relative;
    overflow: hidden; 
  }

  .carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    font-size: 24px;
    cursor: pointer;
    
  }
  
  .carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
  }
  
  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    color: white;
    
  }
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: white;
    background: #ce6547;
    border: none;
    padding: 10px;
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }
  
  a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    position: relative; 
  
  
    transition: color 0.3s, background-color 0.3s;
  }
  
  a:hover {
      color: #ffdb58; 
      background-color: transparent; 
  }
  
  
  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffdb58; 
    transform: scaleX(0);
    transform-origin: bottom right; 
    transition: transform 0.3s; 
  }
  
  a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left; 
  }
  
  .PATU_title {
    color: #ce6547;
    font-family: "Consolas", monospace;
    font-size: 49px;
    font-weight: 1500;
    text-align: center;
  }
  
  .RLV_title {
    font-size: 32px;
    font-family: "Consolas", monospace;
  }
  
  .copyright {
    background-color: #ce6547;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0; 
    transition: opacity 0.3s; 
  }
  
  .ripple {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: ripple-animation 0.6s linear;
    pointer-events: none;
    z-index: 1;
  }
  
  .copyright:hover {
    opacity: 1; 
  }
  
  @keyframes ripple-animation {
    to {
      transform: scale(0.1); 
      opacity: 0;
    }
  }